# 仓库代理
registry "http://119.3.16.137:9902/repository/npm-group/"

# 解决安装node-sass报错的问题
# sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
sass_binary_site "http://119.3.16.137:9902/repository/raw-group/node-sass/"
